 body {

    font-family:Prompt;
 }
 
.cabecalhio {
 
   display: flex;
   justify-content: space-between;
   padding: 30px;
   max-width: 1440px;
margin: 0 auto;

}

.cabecalhio .logo {
   max-width: 65px;
}

.cabecalhio .navegacao .menu {
   display: flex;
   align-items: center;
height: 100%;
}

.cabecalhio nav ul li a {
color: white;
font-weight: bold;
padding: 10px 20px;
}

.cabecalhio nav ul li a:hover {
   transition:0.2s;
   background-color:#b92424;
   border-radius: 50px;
}

.conteiner { 
 
   display: flex;
   justify-content: space-between;
   align-items: center;
max-width: 1440px;
margin: 0 auto;


}

.conteiner .informacoes .titulo {
max-width: 250px;



}

.conteiner .wilson {
max-width: 450px; 
}

.conteiner .informacoes .texto-principal {
   color: white;
width: 700px; 
margin: 30px;
}

.fundo {
   position: absolute;
   z-index: -1;
   width: 100vw;
   height: 100vh;
overflow: hidden;
}

.fundo .video-de-fundo {
   width: 100vw;
}

.fundo::after {
   content: "#";
   background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}

.modal {
   background-color: rgb(52, 52,50,0.749);
   position: fixed;
   width: 100vw;
   height: 100vh;
   display: flex;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}

.modal .conteudo-modal {
  width: 100vw;
  height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 15px;
}


.modal div span {
   font-weight: bold;
   font-size: large;
   background-color: #b92424;
 color: white;
 height: 25px;
 width: 25px;
 align-items: center;
 display: flex;
 justify-content: center;
cursor: pointer;
border
}

.modal.aberto {
   opacity: 1;
    visibility:visible;

}